<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Order Confirmation</title>
</head>
<body>
  <!-- CUSTOMISE ME - I'M THE SUPPLIER ORDER CONFIRMATION EMAIL TEMPLATE-->
  <h1>Congratulations <%= @supplier.name %>, you have a new booking!</h1>
  <p>
    <%= @customer[:user_name] %> has booked with you. Please contact the customer directly to arrange details.
  </p>
  <p>
    Customer Details:
    <ul>
      <li><%= @customer[:user_name] %></li>
      <li><%= @customer[:user_phone] %></li>
      <li><%= @customer[:user_address] %></li>
    </ul>
  </p>
  <p>Thanks for using Happy Find!</p>
</body>
</html>