<% if @supplier.errors.any?  %>

<ol>
  <% @supplier.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ol>
<% end %>
 <h1>Sign Up</h1>
 <div>
 <%= form_for @supplier do |f| %>

 <%= f.label :name %>
 <%= f.text_field :name %>

 <%= f.label :address %>
 <%= f.text_field :address %>

 

 <%= f.label :email %>
 <%= f.email_field :email %>

 <%= f.label :password %>
 <%= f.password_field :password %>

 <%= f.label :password_confirmation %>
 <%= f.password_field :password_confirmation %>
 <%= f.submit "Sign up" %>
 <% end %>
</div>
